/* icons */
.streak-icon {
  font-size: 24px;
  color: #51c614;
}

/* Main Page Container */
.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

/* Header */
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}


.daily-habits-build-consistency {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-habit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.currentstreak-totalhabits-completionrate-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Cards Section */
.current-streak-card {
  width: 300px;
  background: rgb(90 90 90 / 12%);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.card-header {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.days-from-last-week,
.rate-from-last-week {
  color: #1eff00;
  font-size: 18px;
}

.habits-from-last-week {
  color: #ffffff;
  font-size: 18px;
}

.goals-card {
  width: 300px;
  height: 355px;
  background: rgb(90 90 90 / 12%);
  background-position: bottom;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 20px;
  margin: 10px;
}

.reading-card-header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 269px;
  height: 150px;
  border-radius: 12px;
}

.daily-goal-container {
  background: rgba(0, 128, 0, 0.589);
  width: 120px;
  height: 50px;
  border-radius: 12px 12px;
  padding-left: 5px;
}

.daily-goal {
  width: 170px;
  margin-top: 10px;
  font-size: 21px;
  color: #00ff15;
}

.habit-body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px;
  gap: 52px;
}

.habit-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mark-complete-button {
  width: 234px;
  height: 40px;
  background-color: #70727048;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  border: none;
}

.add-new-habit-button {
  width: 234px;
  height: 40px;
  border-radius: 40px;
  border: none;
  align-items: center;
}

.new-habit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
}

.habit-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.stretching-body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px;
  gap: 52px;
}


.daily-nosocialmedia-goal-container {
  background: rgba(0, 128, 0, 0.589);
  width: 170px;
  height: 50px;
  border-radius: 12px 12px;
  padding-left: 5px;
}

.percentage-circle {
  height: 46px;
  color: rgb(0, 47, 255);
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s;
  color: rgb(0, 0, 0);
  background-color: #09ff00;
}