.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 15px 0;
}

.sidebar-links li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-links li.active a {
  font-weight: bold;
  color: #1e90ff; /* highlight color */
}
