.sidebar {
  width: 14%;
  height: auto;
  background-color: #222222b5;
  color: #fff;
  padding: 20px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 15px 0;
}

.sidebar-links li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-links li.active a {
  font-weight: bold;
  color: #00f814;
}