:root {
  line-height: 1.5;

  color-scheme: light dark;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1d1d27;
  /* darker page background for contrast */
  background-image: linear-gradient(rgba(6, 56, 26, 0.45), rgba(18, 44, 2, 0.45)), url('../../assets/gymImage.png');
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



button {
  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1px 16px;
  font-size: 15px;
  font-weight: bold;
  background-color: #0fa904;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}